.description{
    width: 100%;
    padding: .5rem 0;

    font-size: 1.5rem;
    text-align: center;
    color: var(--font-color);

    border-style: dashed;
}
@media screen and (min-width : 768px) {
    .description{
        width: 80%;
    }
}
@media screen and (min-width : 968px) {
    .description{
        width: 60%;
    }
}